/* Base structure */
main {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #dffff1;
}

footer {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    height: 6rem;
    background-color: #008048;
    color: #FFFFFF;
    text-align: center;
}

/* Custom default button */
.btn-success,
.btn-success:hover,
.btn-success:focus {
    color: #FFF;
    text-shadow: none; /* Prevent inheritance from `body` */
}

/* Header */

header {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-color: #008048;
}

.nav-masthead .nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}